- name: create ext volume for data
  file: state=directory path={{ ext_prometheus_data_volume }} owner=nobody group=nogroup

- name: create ext volume for config files
  file: state=directory path={{ ext_prometheus_config_volume }}

- name: put prometheus.yml
  template: src=prometheus.yml dest="{{ ext_prometheus_config_volume }}/prometheus.yml"

- name: put alerts
  template: src=alerts dest="{{ ext_prometheus_config_volume }}/alerts"

- name: install python-pip
  apt: name=python-pip

- name: install the Python Docker library
  pip: name=docker

- name: start a Prometheus container
  docker_container:
    name: prometheus
    image: prom/prometheus
    state: started
    recreate: yes
    restart_policy: always
    read_only: yes
    exposed_ports:
      - 9090
    ports:
      - "{{ prometheus_container_host_address }}:{{ prometheus_port }}:9090"
    volumes:
      - "{{ ext_prometheus_data_volume }}:/data"
      - "{{ ext_prometheus_config_volume }}:/etc/config"
    command:
      - "--web.enable-lifecycle"
      - "--storage.tsdb.path=/data"
      - "--config.file=/etc/config/prometheus.yml"
      - "--web.console.libraries=/etc/prometheus/console_libraries"
      - "--web.console.templates=/etc/prometheus/consoles"
      - "--storage.tsdb.retention.time={{ prometheus_tsdb_retention_time }}"
